@media only screen and (max-width: 992px) {
    nav#barra_principal {
        background-color: rgba(0, 0, 0, 0.2);
    }
}

@media only screen and (min-width: 993px) {
    nav#barra_principal {
        background-color: rgba(0, 0, 0, 0.2);
        height: 85px;
        line-height: 85px;
    }
}

div#barra_principal_fixa {
    height: 0px;
}

.carousel {
    height: 100vh !important;
}

.carousel-fixed-item {
    bottom: 300px !important;
}

@media only screen and (max-width: 992px) {
    div#inicio {
        height: 100vh;
        width: 100%;
        background-image: url("../Images/imagem-carrossel-1.jpg");
    }
}

a#button_inicio {
    top: 75vh;
}

div#empresa {
    height: 100vh;
    width: 100%;
    background-image: url("../Images/imagem-empresa.jpg");
    color: white;
}

div#servicos {
    height: 100vh;
    width: 100%;
    background-image: url("../Images/imagem-servicos.jpg");
    color: white;
}

div#planos {
    height: 1000px;
    width: 100%;
    background-image: url("../Images/imagem-planos.jpg");
    color: red;
}

div#imagem_cidades {
    height: 548px;
    width: 100%;
    background-image: url("../Images/imagem-cidades.jpg");
    color: white;
    margin-top: -20px;
}

@media only screen and (max-width: 992px) {
    div#contato {
        padding-top: 10vh;
        padding-bottom: 8vh;
    }
}

@media only screen and (min-width: 993px) {
    div#contato {
        padding-top: 90px;
        padding-bottom: 75px;
    }
}

div#mapa {
    margin-top: -20px;
    margin-bottom: -8px;
}

@media only screen and (max-width: 992px) {
    .topDistance {
        margin-top: 10vh;
        text-align: center;
    }
}

@media only screen and (min-width: 993px) {
    .topDistance {
        margin-top: 100px;
        text-align: center;
    }
}

.nullTopMargin {
    margin-top: 5px !important;
}

@media only screen and (max-width: 992px) {
    div#corpo_texto {
        text-align: justify;
    }
}

@media only screen and (min-width: 993px) {
    div#corpo_texto {
        text-align: justify;
        margin-top: 100px;
    }
}

@media only screen and (max-width: 992px) {
    div#corpo_texto_servicos {
        text-align: center;
        margin-top: 3vh;
    }
}

@media only screen and (min-width: 993px) {
    div#corpo_texto_servicos {
        text-align: justify;
        margin-top: 50px;
    }
}

.espacador {
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.priceWrapper {
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 8px;
    padding: 0px;
    color: white;
    margin-bottom: 5vh;
}

.price {
    font-size: 1.8em;
    font-weight: bold;
}

@media only screen and (max-width: 992px) {
    .footerMobile {
        font-size: 0.6em;
    }
}

/* label color */
.input-field label {
 color: #FFFFFF !important;
}
/* label focus color */
.input-field input:focus + label {
 color: #FFFFFF !important;
}
/* label underline focus color */
.input-field input:focus {
 border-bottom: 1px solid #FFFFFF !important;
 box-shadow: 0 1px 0 0 #FFFFFF !important;
}

/* label underline focus color */
.materialize-textarea:focus {
 border-bottom: 1px solid #FFFFFF !important;
 box-shadow: 0 1px 0 0 #FFFFFF !important;
}

/* valid color */
.input-field input[type=text].valid {
 border-bottom: 1px solid #67ef67 !important;
 box-shadow: 0 1px 0 0 #67ef67 !important;
}
/* invalid color */
.input-field input[type=text].invalid {
 border-bottom: 1px solid #FF0000 !important;
 box-shadow: 0 1px 0 0 #FF0000 !important;
}
/* icon prefix focus color */
.input-field .prefix.active {
 color: #FFFFFF !important;
}

footer {
    padding-top: 0px !important;
}

.footer-copyright a {
    color: white;
}
