@media only screen and (max-width: 992px) {
    nav#barra_principal {
        background-color: rgba(0, 0, 0, 0.2);
    }
}

@media only screen and (min-width: 993px) {
    nav#barra_principal {
        background-color: rgba(0, 0, 0, 0.2);
        height: 85px;
        line-height: 85px;
    }
}

div#barra_principal_fixa {
    height: 0px;
}

.buttonCliente {
    background-color: #C62828 !important;
}

.buttonCliente:hover {
    background-color: #e53935 !important;
}

.slider .indicators .indicator-item.active {
    background-color: #c62828 !important;
}

.row {
    margin-bottom: 0px !important;
}

.logo-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 997;
    pointer-events: none;
    width: 100%;
}

@media only screen and (max-height: 650px) {
    .logo-wrapper {
        bottom: 12vh;
    }
}

@media only screen and (min-height: 650px) {
    .logo-wrapper {
        bottom: 35vh;
    }
}

@media only screen and (max-width: 992px) {
    div#inicio {
        min-height: 100vh;
        width: 100%;
        background-image: url("../Images/imagem-carrossel-1.jpg");
        background-position: 70% 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media only screen and (max-width: 600px) {
    .logo {
        width: 90%;
        height: auto;
    }
}

@media only screen and (min-width: 601px) and  (max-width: 992px) {
    .logo {
        width: 90%;
        height: auto;
        position: relative;
        bottom: 20vh;
    }
}

@media only screen and (min-width: 993px) {
    .logo {
        width: 90%;
        height: auto;
        z-index: 999;
    }
}

@media only screen and (max-width: 600px) {
    a#button_inicio {
        top: 30vh;
    }
}

@media only screen and (min-width: 993px) {
    a#button_inicio {
        top: 10vh;
    }
}

div#empresa {
    min-height: 100vh;
    width: 100%;
    background-image: url("../Images/imagem-empresa.jpg");
    color: white;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

div#servicos {
    min-height: 100vh;
    width: 100%;
    background-image: url("../Images/imagem-servicos.jpg");
    color: #243037;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div#planos {
    min-height: 100vh;
    width: 100%;
    background-image: url("../Images/imagem-planos.jpg");
    color: red;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div#imagem_cidades {
    height: 548px;
    width: 100%;
    background-image: url("../Images/imagem-cidades.jpg");
    color: white;
    margin-top: -20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 992px) {
    div#contato {
        padding-top: 10vh;
        padding-bottom: 8vh;
    }
}

@media only screen and (min-width: 993px) {
    div#contato {
        padding-top: 90px;
        padding-bottom: 75px;
    }
}

div#mapa {
    margin-top: -20px;
    margin-bottom: -8px;
}

@media only screen and (max-width: 992px) {
    .topDistance {
        margin-top: 10vh;
        text-align: center;
    }
}

@media only screen and (min-width: 993px) {
    .topDistance {
        margin-top: 100px;
        text-align: center;
    }
}

.nullTopMargin {
    margin-top: 5px !important;
}

@media only screen and (max-width: 992px) {
    div#corpo_texto {
        text-align: justify;
    }
}

@media only screen and (min-width: 993px) and  (max-width: 1700px) {
    div#corpo_texto {
        text-align: justify;
    }
}

@media only screen and (min-width: 1701px) {
    div#corpo_texto {
        text-align: justify;
        margin-top: 10vh;
    }
}

@media only screen and (max-width: 992px) {
    div#corpo_texto_servicos {
        text-align: center;
        margin-top: 3vh;
    }
}

@media only screen and (min-width: 993px) and  (max-width: 1700px) {
    div#corpo_texto_servicos {
        text-align: justify;
    }
}

@media only screen and (min-width: 1701px) {
    div#corpo_texto_servicos {
        text-align: justify;
        margin-top: 50px;
    }
}

.textoEspacado {
    padding-left: 2vw;
    padding-right: 2vw;
}

.espacador {
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.priceWrapper {
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 8px;
    padding: 0px;
    color: white;
    margin-bottom: 5vh;
}

.price {
    font-size: 1.8em;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .footer {
        font-size: 0.6em;
    }
}

.footer {
    line-height: 57px;
}

/* label color */
.input-field label {
 color: #FFFFFF !important;
}
/* label focus color */
.input-field input:focus + label {
 color: #FFFFFF !important;
}
/* label underline focus color */
.input-field input:focus {
 border-bottom: 1px solid #FFFFFF !important;
 box-shadow: 0 1px 0 0 #FFFFFF !important;
}

/* label underline focus color */
.materialize-textarea:focus {
 border-bottom: 1px solid #FFFFFF !important;
 box-shadow: 0 1px 0 0 #FFFFFF !important;
}

/* valid color */
.input-field input[type=text].valid {
 border-bottom: 1px solid #67ef67 !important;
 box-shadow: 0 1px 0 0 #67ef67 !important;
}
/* invalid color */
.input-field input[type=text].invalid {
 border-bottom: 1px solid #FF0000 !important;
 box-shadow: 0 1px 0 0 #FF0000 !important;
}
/* icon prefix focus color */
.input-field .prefix.active {
 color: #FFFFFF !important;
}

footer {
    padding-top: 0px !important;
}

.footer-copyright {
    padding: 0px !important;
}

.footer-copyright a {
    color: white;
}

@media only screen and (max-width: 600px) {
    .logoFooter {
        vertical-align: -7%;
    }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
    .logoFooter {
        vertical-align: -11%;
    }
}

@media only screen and (min-width: 993px) {
    .logoFooter {
        vertical-align: -10%;
    }
}

.logoFooter {
    height: 3vh;
}

@media only screen and (max-width: 600px) {
    .logoFig {
        position: relative;
        top: 2vh;
    }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
    .logoFig {
        position: relative;
        top: 1vh;
    }
}

@media only screen and (min-width: 993px) {
    .logoFig {
        position: relative;
        top: 1vh;
    }
}

.logoFig {
    height: 4vh;
}
